<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="org.salem.mapper.MemberMapper">
  
  	<resultMap type="org.salem.domain.MemberVO" id="memberMap">
  	
  	<id property="id" column="id"/>
  	<result property="id" column="id"/>
  	<result property="pw" column="pw"/>
  	<result property="name" column="name"/>
  	<result property="regdate" column="regdate"/>
  	<result property="updatedate" column="updatedate"/>
  	<collection property="authList" resultMap="authMap"></collection>
  	
  	</resultMap>
  	
  	<resultMap type="org.salem.domain.AuthVO" id="authMap">
  	<result property="id" column="id"/>
  	<result property="auth" column="auth"/>
  	</resultMap>
  	
  	<select id="read" resultMap="memberMap">
  		select member.id, pw, regdate, updatedate, del, auth
		from member left outer join member_auth auth
		on member.id = auth.id
		where member.id = #{id}
  	</select>
  	
  	<select id="checkId" resultType="int">
  		select count(*) from member where id = #{id};
  	</select>
  	
  	<insert id="insertMember">
  		insert into member(id,pw)
  		values(#{id},#{pw})
  	</insert>
  	
  	<insert id="insertAuth">
  		insert into member_auth(id,auth)
  		values(#{id},#{auth})
  	</insert>
  
  </mapper>